{erl_opts, [debug_info, {i,"./include"}]}.
{deps, [
    {erlando, ".*", {git, "https://github.com/Vonmo/erlando", {branch, "master"}}}
      %{:dialyxir, "~> 0.5", runtime: false, only: [:dev, :test]},
      %{:ex_doc, "~> #{ex_doc_version()}", only: :dev, runtime: false},
      %{telemetry, "~> 0.4"}
    ]}.

{plugins, [erlfmt]}.

{erlfmt, [
    write,
    {files, "{src,include,test}/*.{hrl,erl}"} %src,include,
]}.

{dialyzer, [
    {warnings, [
       %% Warn about undefined types and unknown functions
       unknown
    ]}
]}.

%{xref_checks,[
    %% enable most checks, but avoid 'unused calls' which is often
    %% very verbose
%    undefined_function_calls, undefined_functions, locals_not_used,
%    deprecated_function_calls, deprecated_functions
%]}.

{shell, [
    {apps, [parent]}
]}.

{relx, [
    {release, {parent, "0.1.0"}, [parent]},
    {extended_start_script, true},
    {sys_config, "config/sys.config"},
    %{vm_args, "config/vm.args"},
    {dev_mode, true},
    {include_src, false}
]}.

%{profiles, [
%    {test, [
        %% Avoid warnings when test suites use `-compile(export_all)`
        %{erl_opts, [nowarn_export_all]}
%    ]}
%]}.
